name: Build and Push Docker Image to Docker Hub

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - .github/**

env:
  DOCKER_USER: ${{secrets.DOCKER_USER}}
  DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
  DOCKER_REPO: ${{secrets.DOCKER_REPO_NAME}}

jobs:
  build_docker_image:
    runs-on: ubuntu-latest
    steps:
    - name: checkout the repo
      uses: actions/checkout@v3
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build_and_push
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: $DOCKER_USER/$DOCKER_REPO:v1
          
# - name: Build the Docker image
# run: docker build --t $DOCKER_USER/DOCKER_REPO:v1 .
