name: Build and Push Docker Image to Docker Hub

on:
  push:
    branches: [ "test" ]
    # paths-ignore:
    #   - .github/**

env:
  DOCKER_USER: ${{secrets.DOCKER_USER}}
  DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
  DOCKER_REPO: ${{secrets.DOCKER_REPO_NAME}}
  TEST_TAG: mrkhris/nlp-text-generation:test
  TEST_CONTAINER: nlp_ml

jobs:
  build_docker_image:
    runs-on: ubuntu-latest
    steps:
    - name: checkout the repo
      uses: actions/checkout@v3

    - name: docker container test
      run:  echo 'Started contenairized app integration test'

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # - name: Pull image for later use
    #   run: |
    #     docker pull ${{ env.TEST_TAG }}
      
    # ==== use to build new container image ====
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and export to Docker
      uses: docker/build-push-action@v6
      with:
        load: true
        tags: ${{ env.TEST_TAG }}

    - name: Test
      run: |
        docker run --rm -d --name ${{env.TEST_CONTAINER}} -p 3000:3000 ${{ env.TEST_TAG }}
        sleep 150
        docker exec ${{env.TEST_CONTAINER}} apt-get -y install curl
        docker exec ${{env.TEST_CONTAINER}} curl -X POST http://localhost/summarize -H 'Content-Type: application/json' -d '{"text":"Un nuage de fumée juste après l’explosion, le 1er juin 2019. Une déflagration dans une importante usine d’explosifs du centre de la Russie a fait au moins 79 blessés samedi 1er juin"}'



# tags: "$DOCKER_USER/$DOCKER_REPO:latest"
# - name: Build the Docker image
# run: docker build --t $DOCKER_USER/DOCKER_REPO:v1 .
